# Ignore CDK output directory
cdk.out

# Ignore node_modules (dependencies will be installed inside the container)
node_modules

# Ignore build artifacts
dist
build

# Ignore environment files (use Docker's --env-file or environment variables instead)
.env
.env.local
.env.test
.env.development

# Ignore logs
*.log
logs

# Ignore temporary files and directories
*.tmp
*.swp
.DS_Store
Thumbs.db

# Ignore Git files
.git
.gitignore

# Ignore Docker-related files
.dockerignore
Dockerfile

# Ignore testing-related files
coverage
test
jest.config.js
jest-e2e.config.js

# Ignore IDE and editor files
.vscode
.idea

# Ignore other unnecessary files
*.md
bin
db
lib